*{
  margin: 0;
  padding: 0;
}

body{
	font-family: "Arial", Helvetica, sans-serif;
	color:#333;
}

.center{
	width:500px;
	height:600px;
	margin:100px auto;
	padding-left:20px;
	padding-right:20px;
}

h1{
	font-size:30px;
}

h1 p{
	background:#222;
	color:#ff0;
  text-align: center;
}

.clear{clear:both;}

#boton{
	width:120px;
	height:30px;
}


.progress{
	float:left;
	margin-right:30px;
	margin-bottom:20px;

}

.progress span{
	font-weight:bold;
}

progress::-webkit-progress-bar {
	background-color:#D8D8D8;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25) inset;
	border-radius : 20px ;
}
