*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --primary: #33e8db;
  --normal-size: 14px;
}
/*section{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  height: 500px
  align-items:center;
}
*/

section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: repeat(3, 200px)
  justify-content: center;
}
div{
  font-size: var(--normal-size);
  background-color: var(--primary);
  border: 12px solid black;
  height: 100px;
  padding: 10px;
  width: 100px;
}

.div3{
  grid-column: 1/3;
  grid-row: 1/2;
}

/*
@media screen and (max-with: 768px){

  .root{
    --normal-size: 20px;
  }

  .div3{
    grid-row: 3/4;
    width: 100%
  }
  @media screen and (max-with: 425px){
    .div3{
      width: 50%;
    }

  }*/

  @supports (display:grid) {
    .div3{
      display: grid;
    }

  }


}
