<script>
  (function(customElements) {
    'use strict';

    class loadingComponent extends HTMLElement {
      constructor() {
        super();
        this.myName;

        const shadowRoot = this.attachShadow({mode: 'open'});

        shadowRoot.innerHTML = `
        <div class="w3-container">
        <h2>Dynamic Progress Bar</h2>
        <div class="w3-light-grey w3-xxlarge w3-round">
      <div id="myBar" class="w3-container w3-blue w3-center  w3-round" style="width:1%">0%</div>
    </div>
    <br>
    <button class="w3-button w3-blue" onclick="move();this.disabled='true'">SLOW</button>

    <button class="w3-button w3-blue" onclick="moveFast();this.disabled='true'">FAST</button>

    <br>
    <br>
    <div class="w3-light-grey w3-xxlarge w3-round">
    <div id="myBar2" class="w3-container w3-blue w3-center  w3-round" style="width:1%"><span id="demo">0</span>%</div>
    </div>
      <p id="myP"></p>
    <br>
    <button class="w3-button w3-blue" onclick="moveAdvance();this.disabled='true'">LOAD</button>
    </div>
        `;
      }

  

    }

    customElements.define('loading-component', loadingComponent);
  })(window.customElements);
</script>
